#ims-login{
    background-color: #605e5e;
    border: 2px solid blue;
    border-radius: 10px;
    margin-top: calc(3% - 5px);
    margin-left: calc(5% - 5px);
    width: calc(45% - 5px);
    height: calc(100% - 5px);
    box-sizing: border-box;
}#form-login{
     border: 2px solid green;
     width: calc(80% - 5px);
     margin-left: calc(11% - 5px);
     margin-top: calc(5% - 5px);
     margin-bottom: calc(5% - 5px);
     height: calc(100% - 5px);
    padding: 5px;

 }
#store-header{
    color: white;
    font-size: 24px;
    font-family: Calibri;
    text-align: center;
 }
 
#login{
    margin: 10px 10px;
}

#login-button{
     margin: 0 100px;
     float: left;
 }
 button{
     /*width: 5%;*/
     padding: 10px 10px;
     margin: 8px 8px;
     display: inline-block;
     border: 1px solid #ccc;
     border-radius: 4px;
     box-sizing: border-box;
     background-color: #4CAF50;
     color: white;
     cursor: pointer;
 }
button:hover {
    background-color: #215223;
}
/* #fullName{
    margin-left: 35px;
}
#username{
    margin-left: 5px;
}
#password{
    margin-left: 2px;
}
#mobileNo{
    margin-left: 35px;
} */